.catch-copy {
  position: relative;
  max-width: 1000px;
  padding: 0 16px;
  margin: 200px auto;
}

@media screen and (max-width: 768px) {
  .catch-copy {
    margin: 100px auto;
  }
}

.catch-copy__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.catch-copy__title h2 {
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 8px;
}

@media screen and (max-width: 768px) {
  .catch-copy__title h2 {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 8px;
  }
}

.catch-copy__text {
  margin-top: 40px;
  text-align: center;
  letter-spacing: 5px;
  line-height: 40px;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .catch-copy__text {
    margin-top: 30px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
    font-size: 14px;
    letter-spacing: 3px;
  }
}

.move-icon-right {
  opacity: 0.7;
  z-index: -1;
  position: absolute;
  right: 60px;
  top: calc(50% - 50px);
  transform: translateY(-50%);
  animation: moveIcon 5s infinite;
}

.move-icon-left {
  opacity: 0.7;
  z-index: -1;
  position: absolute;
  left: 20px;
  top: calc(50% + 100px);
  transform: translateY(-50%);
  animation: moveIcon 7s infinite;
}

@media screen and (max-width: 768px) {
  .move-icon-right,
  .move-icon-left {
    opacity: 0.2;
  }

  .move-icon-right {
    right: 20px;
  }
}

@keyframes moveIcon {
  0% {
    transform: translateY(-80%);
  }
  50% {
    transform: translateY(-45%);
  }
  100% {
    transform: translateY(-80%);
  }
}
