.page-title {
  position: relative;
  width: 100%;
}

.page-title__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  gap: 5px;
  height: 230px;
  max-height: 50vh;
  max-width: 1200px;
  margin: 0 auto 80px;
}

@media screen and (max-width: 768px) {
  .page-title__container {
    justify-content: center;
    margin-bottom: 0;
  }
}

.page-title--en {
  font-weight: bold;
  color: #ffcc00;
  font-size: 12px;
  letter-spacing: 4px;
}

.page-title--text {
  margin: 0;
  line-height: 1;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 2px;
}
